@model List<Education>

<div style="margin-top:70px">
    <div class="row justify-content-center p-3">
        <div class="col-md-10">
            <table class="table table-striped">
                <thead class="bg-dark text-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Image</th>
                        <th scope="col">Order</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="bg-light">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@Model[i].Title</td>
                            <td>@Model[i].Description</td>
                            <td>@Model[i].Image</td>
                            <td>@Model[i].OrderLink</td>
                            <td>
                                <form asp-action="EducationEdit" method="get" class="mb-2">
                                    <input type="hidden" name="id" value="@Model[i].ID" />
                                    <input type="submit" class="btn btn-primary btn-block" value="Edit" />
                                </form>
                                <form asp-action="EducationDelete" method="post">
                                    <input type="hidden" name="id" value="@Model[i].ID" />
                                    <input type="submit" class="btn btn-danger btn-block" value="Delete" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div style="position:fixed;right:50px;top:150px">
        <a asp-action="EducationEdit" class="btn btn-light btn-lg">Add</a>
    </div>
</div>