<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="/css/layout.css" asp-append-version=true />
    <link rel="stylesheet" asp-href-include="/css/style.css" asp-append-version=true />
    <link rel="stylesheet" asp-href-include="/lib/font-awesome/css/*" asp-append-version=true />
    <!-- development only -->
    @RenderSection("Stylesheet", required: false)
    <title>@ViewBag.Current</title>
</head>
<body>
    <header class="container-fluid sticky-top">
        <div class="row d-flex">
            <div class="col-md-4 bg-danger d-flex align-items-end display-4 min-height">
                <a asp-action="Home" asp-controller="Home" style="text-decoration:none;color:black"> Edib's Portfolio </a>
            </div>
            <nav class="col-md-8 min-height bg-light">
                <ul class="nav nav-tabs nav-fill d-flex align-items-end h-100 h4 font-weight-light">
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString().ToLower() == "home" ? "active" : "")" asp-action="Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString().ToLower() == "education" ? "active" : "")" asp-action="Education">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString().ToLower() == "projects" ? "active" : "")" asp-action="Projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString().ToLower() == "contact" ? "active" : "")" asp-action="Contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container-fluid fill-vh bg-info" style="margin-top:-70px">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
